* {
	padding:0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	background-image: url("./images/lavenderVert.jpg");
	background-color: #dad7ec;
}

h1, h2{
	text-align: center;
}

.users {
	border: 2px solid #9b9bba;
	width: 40vw;
	padding: 20px 20px;
	background-color: #dad7ec;
}

.contenedor {
	display: flex;
	justify-content: space-evenly;
	height: 100vh;
	flex-direction: column;
	align-items: centeR;
}

@media(max-width: 700px){

	body{
		background-image: url("./images/lavenderVert.jpg");
		background-size:cover;
        	background-position: left;
	}

	.contenedor{
		height: 90vh;
		width: 100%;
		
	}
	
	.users {
		width: 85%;
		overflow: scroll;
		text-align: center;
		padding: 10px 10px;
	}
	
	.c {
		font-size: .85em;
	}
}
