* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.55), rgba(4, 9, 30, 0.55)), url(./images/lavender.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    top: 0;
    padding-right: 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 130px;
    border: double 10px white;
    margin: 2% 4%;
    border-radius: 100%;
}
.navLinks {
    text-align: right;
}

.navLinks ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}

@media(min-width: 1500px) {
    nav img {
        width: 200px;
    }

    nav {
        padding: 2% 6%;
    }
}

ul>li>a {
    color: white;
    text-decoration: none;
}

.textBox {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textBox h1 {
    font-size: 50px;
}

.textBox p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #F44336;
    background: #F44336;
    transition: 0.3s;
}

@media(max-width: 700px) {
    section {
        width: 100vw;
    }
    .info{
        margin-top: 5%;
    }

    .textBox{
        top: 65%;
        padding: 0;
        height: 70%;
    }
    .textBox h1 {
        padding-top: 10px;
        font-size: 20px;
    }

    .textBox p {
        font-size: 11px;
        font-weight: 100;
    }

    nav img {
        height: 100px;
        width: auto;
        max-width: 50%;
        position:static;
        border: double 6px white;
    }

    nav {
        top: 10px;
        position: relative;
        width: 100vw;
        font-size: 11px;
    }

    ul {
        font-size: 13px;
        position: relative;
        right: 2%;
        text-align: center;
        width: 40vw;
    }

    .btn {
        margin-top: 0;
    }
}

/* info del proyecto */

.info {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #444;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.columna {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.partesCol {
    flex-basis: 28%;
    background: thistle;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.prueba {
    display: flex;
    float: right;
    position: relative;
    margin-right: 18vw;
    margin-top: 5vh;
    top: 10vh;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.partesCol:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .columna {
        flex-direction: column;
    }

    .prueba {
        position: fixed;
        bottom: 100px;
    }
}

.servicios {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.redCol {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.redCol img {
    width: 100%;
}

.layer {
    background-color: transparent;
    height: 120%;
    width: 120%;
    position: absolute;
    top: 0;
    left: -20px;
    transition: 0.5s;
    font-size: 5px;
}

.layer:hover {
    background-color: rgba(85, 52, 139, 0.514);
    height: 100%;
    font-size: 6px;
}

.columna2 {
    width: calc(100% / 6);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2%;
    padding: 5px;
}

@media(max-width: 700px) {
    .columna2 {
        width: calc(100% / 2);
    }

    .redCol{
        height: 100%;
    }

    .columna2 {
        width: 70vw;
        margin-bottom: 0;
    }
    
}

#parte1 {
    scroll-behavior: smooth;
}